@model ExpenseManager.Models.ExpenseType

@{
    ViewData["Title"] = "Update " + @Model.Name;
}
&nbsp;

<div class="formCreate">
    <h6>Update Expense Type @Model.Name</h6>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" class="form border rounded">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ExpenseTypeId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success btn-sm" />
                    <a asp-action="Index" class="btn btn-info btn-sm">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
