@model ExpenseManager.ViewModels.StatisticsViewModel

<div>
    <p>Registered Expenses : @Model.QuantityExpenses</p>
    <p>Lower Expenses : @Model.LowerExpense</p>
    <p>Greatest Expenses : @Model.GreatestExpense</p>
</div>
